.Features{
    width:100%;
    max-width:var(--mw);
    margin-top: 20vh;
    display: grid;
    justify-content: center;

}
.features-grid{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.card{
    display:flex;
    flex-direction:column;
    padding-inline: 30px;
    gap:16px;

    border-radius:8px;
    overflow:hidden;
    transition:transform .28s ease, box-shadow .28s ease;
}
.thumb{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:4px;
}
.content{
    padding:8px 6px 12px 6px;
    display:flex;
    flex-direction:column;
    gap:8px;
}
.card h3{
    margin:0;
    font-size:var(--fs-300);
    line-height:1.2;
    font-weight:700;
    color:var(--text-clr);
    letter-spacing: -0.2px;
}
.card p{
    margin:0;
    color:var(--text-clr-o);
    font-size:var(--fs-100);
    line-height:1.45;
}
/* Responsive */
@media (max-width:1000px){
    .Features{
        width: 100%;
    }
    .features-grid{ 
        display: grid;
        grid-template-columns: 1fr; 
        gap:20px; 
    }
    .card .thumb{ 
        height:300px; 
        width: 100%;
    }
    .card .content{
        width: 100%;
    }
}